@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");


:root {
  --bg-color: rgb(54, 54, 54);
  --base-color: white;
  --accent-color: #AB8D67;
  --border-radius: 8px;
  --spacing: 10px;
  --secundary-color: #94B202;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
}

body {
  font-family: "Archivo", sans-serif;
  background-image: url(./assets/backgroundwebp.webp);
  color: var(--base-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Archivo Black", sans-serif;
  color: var(--accent-color);
}

a:hover {
  color: var(--secundary-color);
}

h2 {
  padding-bottom: calc(var(--spacing)/2);
  margin-bottom: var(--spacing);
  border-bottom: 2px solid var(--accent-color);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.4s;
}


header {
  display:inline-flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.494);
  position: fixed;
  top: 0 ;
  z-index: 1000;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 10px 20px;
}

header > nav > ul {
  display: flex;
  gap: var(--spacing);
}

section {
  padding: var(--spacing);
}

section#copyright {
  padding: var(--spacing) 0;
  text-align: center;
}

h1 {
  text-align: center;
  margin: var(--spacing) 0;
  font-size: 2.5rem;
}

img{
  max-width: 100%;
  height: auto;
}

.logo {
  width: 200px;
  height: 50px;
  background-image: url(./assets/metalgearlogo1.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  text-indent: -9999px;
  overflow: hidden;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-auto-row: 200px;
  gap: 10px;
  align-items: center;
}

.galeria img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer {
  background-color: black;
  color: var(--base-color);
  text-align: center;
  padding: 0px 0;
  border-top: 2px solid var(--accent-color);
}

main {
  padding: 150px;
  font-size: 0.9em;
  padding-left: 5px;
  padding-right: 5px;
}

@media (max-width: 768px) {
     header {
        flex-direction: column;
        padding: 10px 0;
        align-items: center; 
        position: relative;
    }
    main {
        padding-top: 20px; 
    }

    header > nav > ul {
        flex-direction: column; 
        gap: 5px;
    }
}