
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
background-color: rgb(118, 118, 118);
padding: 10px;
margin: 30px;
}

h1 {
    color: white;
    text-align: center;
    font-family: "bebas neue",Arial, Helvetica, sans-serif;
}

h2 {
    color: white;
    text-align: left;
    font-family: "bebas neue",Arial, Helvetica, sans-serif;

}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    
}

p,li {
    color: white;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: justify;
}
